store-procedure vt100-rc
	bind-to-key next-line                   FNN	; fleche en bas
	bind-to-key previous-line               FNP	; fleche en haut
	bind-to-key backward-character          FNB	; <-
	bind-to-key forward-character           FNF	; ->
	bind-to-key beginning-of-file		FNH	; home
	bind-to-key reverse-incremental-search	S-FN0	; PF1 - k(
	bind-to-key hunt-backward		S-FN1	; PF2 - k)
	bind-to-key incremental-search		S-FN2	; PF3 - k/
	bind-to-key hunt-forward		S-FN3	; PF4 - k*

	bind-to-key previous-page		FN7	; k7
	bind-to-key find-file			FN8	; k8
	bind-to-key next-page			FN9	; k9
	bind-to-key describe-bindings		S-FN4	; k-
		
	bind-to-key previous-word		FN4	; k4
	bind-to-key save-file			FN5	; k5
	bind-to-key next-word			FN6	; k6
	bind-to-key end-of-file			S-FN5	; k,  - k+

	bind-to-key beginning-of-line		FN1	; k1
	bind-to-key exit-emacs			FN2	; k2
	bind-to-key end-of-line			FN3	; k3
	bind-to-key execute-macro-1             S-FN7	; kenter
	
	bind-to-key yank		        FN0	; k0
	bind-to-key execute-macro-2		S-FN6	; k.
	bind-to-key execute-macro-2		M-?	; help

	1 split-current-window
	select-buffer "Function Keys"
        insert-string "f1 <- cherche  f2 <- suivant     f3 cherche ->  f4 suivant ->~n"
	insert-string "k7 <- page     k8 charger fich.  k9 page    ->  k- touches~n"
        insert-string "k4 <- mot      k5 sauver fichier k6 mot     ->  k+ fin fichier~n"
        insert-string "k1 debut ligne k2 quitter emacs  k3 fin ligne   ke sup. ceci~n"
        insert-string "      k0 restore kill buffer     k. help ~n "         
        beginning-of-file
        unmark-buffer
        delete-window
	execute-file vt100keys.cmd	; esc O handler
!endm

